/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.usersContainer {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.userPostDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border: solid 2px black;
  width: 100%;
}

.userPostTopDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.commentsDiv {
  padding: 24px;
  border: 2px solid black;
  width: 100%;
}

.userCard {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 5px;
}

.userCardLeft {
  height: 100px;
  width: 100px;
  flex: 1;
  border: solid 1px black;
}

.userCardRight {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px black;
  padding: 0 20px;
}

.userDetailsSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}

.post-container {
  margin-left: 35%;
}

.post-section {
  width: 80%;
  margin-left: 10%;
}

.bio {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 20px;
}

.recentPosts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.singlePost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: solid 1px black;
  padding: 10px;
}

.seeAllPosts {
  margin: 10px;
  align-self: center;
}

.counterSection {
  align-self: flex-end;
}

.postComments {
  border: solid 1px black;
  padding: 10px;
  margin: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 5px;
}

.devise {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 120px 100px;
  margin: 0 auto;
}

.devise input[type=email],
.devise input[type=password],
.devise input[type=text] {
  width: 100%;
  height: 25px;
  padding: 4px;
  margin-bottom: 8px;
}
